.partearriba {
    background-color: #292929;
    height: 110px;
    width: 1280px;
    margin-left: -8px;
    margin-top: -8px;
}

header {
    background-color: #d30707;
    height: 50px;
    width: 1280px;
    margin-left: -8px;
    margin-top: -8px;
}

.busqueda {
    margin-left: px;
    margin-top: 70px;
    padding: 5px;
    border: 0;
    border-radius: 5px;
}

.moneda {
    margin-left: px;
    padding: 4px;
    border-radius: 5px;
}

.boton {
    padding: 5px;
    border-radius: 5px;
}

.boton:hover {
    color: black;
    background-color: rgb(199, 197, 197);
}
