.partearriba {
    background-color: #292929;
    height: 110px;
    width: 1280px;
    margin-left: -8px;
    margin-top: -8px;
}

header {
    background-color: #A40F16;
    height: 47px;
    width: 1280px;
    margin-left: -8px;
    margin-top: -8px;
}

.Buscar {
    margin-left: 0;
    border-radius: 5px;
    border: 0;
    margin-left: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.placeholder {
    margin-left: 790px;
    margin-top: 70px;
    border-radius: 5px;
    padding: 3px;
    border: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 200px;
}

.Buscar:hover {
    background-color: #A40F16;
    border: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}